<html>
  <head>
    <script src="js/d3.v2.js?<%= new Date().getTime() %>"></script>
    <script src="connection/connection_handler.js?<%= new Date().getTime() %>"></script>
  </head>
  <body>

  </body>
</html>
